@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<table class="table" style="width:auto">
    <thead>
        <tr>
            <td>@Localizer["team.codesTable.code"]</td>
            <td>@Localizer["team.codesTable.delete"]</td>
        </tr>
        <tr>
            <td>
                <input type="text" id="codes-table-add-input" />
            </td>
            <td>
                <button id="codes-table-add-button">@Localizer["team.codesTable.add"]</button>
            </td>
        </tr>
    </thead>
    <tbody id="codes-table-body"></tbody>
</table>

<script type="text/javascript">
    class codesTable {
        static codes;

        static updateCodes = () =>
            $.ajax({
                cache: false,
                url: '@Url.Action("All", "InvitationCode")',
                type: 'GET',
                data: { teamId: @Model.Id },
                success: (result) => {
                    codesTable.codes = result;
                }
            });


        static updateTable = () => {
            codesTable.updateCodes()
                .then(() => {
                    $('#codes-table-add-input').val('')
                    const tableBode = $('#codes-table-body');
                    tableBode.html('');
                    codesTable.codes.forEach(item => {
                        tableBode.append(`<tr id="tr-example">
                            <td>${item.code}</td>
                            <td style="text-align:center">
                                <button onclick="codesTable.onRemove(${item.id})">
                                    <i class="fas fa-times"></i>
                                </button>
                            </td>
                        </tr>`)
                    })
                })
        }

        static onCreate = () => {
            let code = $('#codes-table-add-input').val();
            $.ajax({
                cache: false,
                url: '@Url.Action("Create", "InvitationCode")',
                type: 'POST',
                data: { teamId: @Model.Id, code },
                success: () => {
                    codesTable.updateTable();
                }
            });
        }

        static onRemove = (id) => {
            $.ajax({
                cache: false,
                url: '@Url.Action("Remove", "InvitationCode")',
                type: 'GET',
                data: { id },
                success: () => {
                    codesTable.updateTable();
                }
            });
        }
    }

    $(document).ready(() => {
        codesTable.updateTable();
        $('#codes-table-add-button').click(codesTable.onCreate)
    });
</script>