@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<div class="on-center card">
    <span class="header">@Localizer["user.card.card"]</span>
    <img src="https://windows10free.ru/uploads/posts/2017-04/1493287748_1487679899_icon-user-640x640.png" style="width:200px">
    <div>
        <span class="large">@Model.Name</span>
        <span class="middle">@Model.Email</span>
        <a asp-controller="User" asp-action="Edit">@Localizer["user.card.change"]</a>
        @{var parameters = new { id = Model.TeamId };}
        <button onclick="location.href='@Url.Action("Team", "Team", parameters)'">
            @Localizer["user.card.team"]
        </button>
    </div>
</div>